.footer {
  background-color: $navy-blue;
  padding: 66px 24px;
  display: flex;
  flex-direction: row-reverse;
  gap: 340px;
  place-items: center;
  grid-template-areas: "logo" "phone" "email" "icons" "p3" "input" "p";
  color: $white;
  @include h3;
  &__logo {
    grid-area: logo;
    width: 96px;
    svg path:nth-child(2) {
      fill: white;
    }
  }
  &__input {
    display: flex;
    gap: 40px;
    margin-block-start: 40px;
  }
  &__p {
    @include p;
    margin-bottom: 16px;
  }

  &__phone {
    grid-area: phone;
    margin-block-start: 8px;
    @include p2;
  }

  &__email {
    grid-area: email;
    margin-block-start: 8px;
    @include p2;
  }

  &__icons {
    grid-area: icons;
    margin-block-start: 24px;
  }

  &__p3 {
    grid-area: p3;
    @include p3;
  }

  @include respond-to("large") {
    align-items: flex-start;
    grid-template-areas:
      "logo logo . . . . . . . . . . . .  p"
      "p3 p3 p3 . . . . .  . .  . . . . . p3"
      "phone p3 . . . . . .  . . . . . . . input"
      "email p3 . . . . . . . . .. . . ..  "
      "icons . . . . . .  . . ..  . . . . . .";
    gap: 0px;

    &__logo {
      width: 240px;
    }

    &__p3 {
      gap: 40px;
    }

    &__p {
      gap: 40px;
    }

    &__icons {
      justify-self: flex-start;
    }

    &__email {
      width: 24px;
    }

    &__phone {
      width: 24px;
    }
  }

  @include respond-to("small") {
    padding: 28px 28px;
    grid-template-areas:
      "p3"
      "p"
      "input"
      "logo"
      "p3"
      "phone"
      "email"
      "icons";

    &__logo {
      width: 200px;
    }

    &__p3 {
      gap: 16px;
    }

    &__p {
      gap: 16px;
    }

    &__icons {
      justify-self: flex-start;
      width: 24px;
    }

    &__email {
      width: 24px;
    }
  }
}
