.footer {
    background-color: $navy-blue;
    padding: 66px 24px;
    display: grid;
    gap: 24px;
    place-items: center;
    grid-template-areas: "logo" "nav" "phone" "email" "icons";
    color: $white;
    @include p3;

    &_logo {
        grid-area: logo;
        width: 96px; 
    }

    &_nav {
        grid-area: nav;
    }

    &_phone {
        grid-area: phone;
        margin-block-start: 24px;
    }

    &_email {
        grid-area: email;
        margin-block-start: 24px;
    }

    &_icons {
        grid-area: icons;
        margin-block-start: -8px;
    }
}