//colors
$pink: #ff52c1;
$light_blue: #f6fbff;
$navy_blue: #00252e;
$red_check: #ff4343;
$blue_hover: #00c7fa;
$pink_hover: #ff8ed7;
$gray: #808e9a;

$light_gray: #f2f2f2; //background
$white: #fff;

//Typographies
$font-paragraph: "Open Sans", sans-serif;
$font-title: "Poppins", sans-serif;
