//colors
$pink: #FF52C1; 
$light_blue: #F6FBFF;
$navy_blue:#00252E;
$red_check: #FF4343;
$blue_hover: #00C7FA;
$pinl_hover: #FF8ED7;

$white: #F2F2F2; //background


//Typographies
$font-paragraph: 'Open Sans', sans-serif;
$font-title: 'Poppins', sans-serif;