//Typography
$weights: (
    "bold": 700,
    "semibold": 600,
    "regular": 400,
);

@mixin headers($font-size, $line-height) {
    font-weight: map-get($map: $weights, $key: "bold");
    font-size: $font-size;
    line-height: $line-height;
}

@mixin body-footer($font-size, $line-height) {
    font-weight: map-get($map: $weights, $key: "semibold");
    font-size: $font-size;
    line-height: $line-height;
}

@mixin body($font-size, $line-height) {
    font-weight: map-get($map: $weights, $key: "regular");
    font-size: $font-size;
    line-height: $line-height;
}